
/KaSe Controller/bin
/.idea
/KaSe Controller/obj/Debug
/KaSe Controller/obj
/KaSe Controller/obj
/KaSe Controller/obj
KaSe Controller.sln.DotSettings.user
KaSe Controller/obj/project.packagespec.json
